  <div class="align-items-center d-flex py-5 cover photo-overlay" style="background-image: url('./assets/New+Zealand+Hikes-13.jpg');">
            <div><h3>New Entry</h3></div>


    <label>Date</label>
    <input type="date" [(ngModel)]="entry.dateCreated">
  <br>
  <app-emotions></app-emotions>
  <br>
  <app-activities></app-activities>    
  <br>
  <div class="form-group my-2">
      <label>Comment</label>
      <input class="form-control" id="exampleTextarea" rows="3"  [(ngModel)]="entry.comment">
    </div>   
   <button class="btn btn-primary m-2 align-self-center" (click)="saveNewEntry(entry)">Submit</button>
    <a class="btn btn-primary m-2 align-self-center" [routerLink]="['/welcome']">Home</a>
          <!-- </form>
             </div>
      </div>
    </div> -->
  </div>

 