<div class="align-items-center d-flex py-5 cover photo-overlay" style="background-image: url('./assets/USA+Road+Trip-6.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="">Hello, {{ user.name }}!</h1>
        <img class="img-fluid d-block rounded" src="./assets/Person-Logo-1.png" id="profileimage" height="300">
        <p class="">Back to You is a
          <i>on the go</i> tool to keep track of your daily emotions in relation to your daily activities.</p>
        <p>As members of this fast paced world we know how quickly we can lose track as to how and why we find ourselves in our current mood.</p>
        <p>By logging in your mood three times a day, we hope to provide you with personalized data so you can recognize what activities enhance or dimish the quality of your day</p>
      </div>
      <div class="col-md-6 my-3">
        <h1 class="text-center">My Profile
          <br> </h1>
        <ul class="h-50 d-flex flex-column list-unstyled">
          <a href="#" class="text-white">Name:&nbsp;</a>
          <br>
          <a href="#" class="text-white">Username:</a>
          <br>
          <a href="#" class="text-white">Location:</a>
          <br>
          <a class="btn btn-primary my-2" href="#">Edit</a>
          <a class="btn btn-primary" href="#">Home</a>
        </ul>
      </div>
    </div>
  </div>
</div>