
<div *ngIf="user" class="align-items-center d-flex py-5 cover photo-overlay" style="background-image: url(&quot;./assets/Lake+Tahoe-12.jpg&quot;);" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="">Welcome to Back to You, {{ user.name }}!</h1>
        <p class="lead">Thank you for joining us. </p>
        <p class="">Back to You is a
          <i>on the go</i> tool to keep track of your daily emotions in relation to your daily activities.</p>
        <p>As members of this fast paced world we know how quickly we can lose track as to how and why we find ourselves in our current mood.</p>
        <p>By logging in your mood three times a day, we hope to provide you with solid personalized data so you can recognize what activities enhance or dimish the quality of your day</p>
      </div>
      <div class="col-md-6 my-3">
        <ul class="list-group p-1 my-4">
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success text-dark"><a [routerLink]= "['/user/' + user._id]">My Profile </a></li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success text-dark"> <a [routerLink]= "['/new-entry']">Add Entry </a></li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success text-dark"><a [routerLink]= "['/entries']">View all entries</a></li>
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-success text-dark"><a [routerLink]= "['user/:id']">View My Data</a></li>
        </ul>
        <!-- remove button if needed -->
        <button (click)="logout()" class="btn mt-4 btn-outline-primary p-2 w-25 mx-4">Logout </button>
      </div>
    </div>
  </div>
</div>