<!-- <form *ngIf="!user">
  <h2> Login or Signup </h2>
  
  <label> name </label>
  <input type="text" [(ngModel)]="formInfo.name" name="name"/>
  <br>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  <br>
  <button type="button" class="btn btn-dark" (click)="login()"> login </button>
  <button type="button" class="btn btn-light" (click)="signup()"> signup </button>
</form> -->

<span *ngIf="!user">
  <!-- Cover -->
  <div class="align-items-center d-flex py-5 cover photo-overlay" style="background-image: url('./assets/Packrafting+Lake+Powell.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center text-lg-left text-center">
          <h1 class="mb-0 mt-4 display-3">BackToYou</h1>
          <p class="mb-5 lead">Find the way back to you</p>
        </div>
        <div class="col-lg-5 p-3">
            <form class="bg-dark-opaque p-3" *ngIf="!user">
                <h4 class="mb-4 text-center">Login / Signup</h4>
                <div class="form-group">
                  <label>User Name</label>
                  <input class="form-control" placeholder="Type here" type="text" [(ngModel)]="formInfo.username" name="username"> </div>
                <div class="form-group my-2">
                      <label>Name</label>
                      <input class="form-control" placeholder="Type here" type="text" [(ngModel)]="formInfo.name" name="name"> </div>
                <div class="form-group my-2">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="password" [(ngModel)]="formInfo.password" name="password"> </div>
                </div>
                <button type="submit" class="btn mt-4 btn-outline-primary p-2 w-25 mx-4" (click)="login()">
                  <b>Log In</b>
                </button>
                <button type="submit" class="btn mt-4 btn-outline-primary p-2 w-25 mx-4" (click)="signup()">
                  <b>Sign Up</b>
                </button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <div id="aboutme" class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-secondary">It matters to keep things clear with you.&nbsp;</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-columns fa-3x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Log in your Experiences</h4>
              <p>Based on traditional journaling.
                <br>Logging in your experiences is the most effective way to communicate to yourself</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa fa-circle-thin fa-4x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Life is a Full Circle</h4>
              <p>Choose settings depending on what you value the most</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 order-lg-2 col-2 text-center">
              <i class="d-block fa  fa-comment-o fa-3x"></i>
            </div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Connect</h4>
              <p>In-app chat panel 24/7 active.
                <br>The support you need, right there.</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa fa-battery-empty fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="text-primary">Energy-friendly</h4>
              <p>Recognize which activities are energy depleting
                <br>BacktoYou enhances your energy's duration.</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block mx-auto fa  fa-clone fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="text-primary">Multidisplays</h4>
              <p>View your personal data 
                <br>Different formats of display.</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-2 text-center">
              <i class="d-block fa  fa-heart-o fa-3x"></i>
            </div>
            <div class="col-10">
              <h4 class="text-primary">Share the love</h4>
              <p>Help us spreading the word.
                <br>Tell your friends with just one-click</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Footer -->
  <div class="text-center" id="contactus">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Contact</h2>
          <p class="m-0">
            <a href="tel:305 - 999 - 9999" class="text-white">305-999-9999</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">info@back2u.com</a>
          </p>
        </div>
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Location</h2>
          <p>
            <a href="https://www.google.it/maps" target="_blank" class="text-white">777 Fake Street
              <br>Miami, FL 33023</a>
          </p>
        </div>
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Openings</h2>
          <p>11:00 - 15:00 &amp; 19:00 - 00:00 Tue/Fri
            <br>11:00 - 15:00 &amp; 19:00 - 02:00 Sat/Sun</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
      
        </div>
      </div>
    </div>
  </div>
  </span>
  
  
  <span *ngIf="user">
     <app-welcome></app-welcome>
  </span>
  
  <p class="error"> {{ error }} </p>
  
  



